@charset "UTF-8";
/* CSS Document */

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub,  tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight:normal;
	vertical-align: text-top;
}
:focus { outline: 0}
table, th, td {border-collapse: collapse;border-spacing: 0;margin: 0;
	padding: 0;
	border: 0;
}
blockquote:before, blockquote:after, q:before, q:after {content: ""}
blockquote, q {quotes: "" ""}
input, textarea { margin: 0;padding: 0}
hr { margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}
p{margin-top: 5px; margin-bottom:5px}

/*header*/
.bg{ background-color:#F24729}
#home{
	background-image: url(imgs/espora-home-bg2.jpg);
	height: 1320px;
	width: 1600px;margin: auto; margin-top:0
}
#logo{
	
	height: 245px;
}
#intro {
	font-family: "Droid Serif";
	font-style: italic;
	font-size: 24px;
	color: white;
	text-align: center;
}
#boxes{
	margin-top: 160px;
	height: 250px;
}
.box{
	width: 225px;
	text-align: center;
	float: left;
}
.first{
	margin-left: 455px;
}
.title{
	font-family: "Droid Sans";
	font-weight:700 ;
}
.texto{
	font-family: "Droid Serif";
	font-style: italic;
	color: #818181;
	width: 179px;
	text-align: center;
	margin-left: 25px;
	font-size: 14px;
}
.puntos{
	font-family: "Droid Serif";
	color: #818181;
	width: 150px;
	text-align: center;
	margin-left: 30px;
	letter-spacing: 5px;
	font-weight: bold;
}
.web{
	font-family: "Droid sans";
	color: #818181;
	width: 100px;
	text-align: center;
	margin-left: 60px;
	font-size: 11px;
}
.bold{font-weight: bold;}
.violeta{
	font-family: "Droid sans";
	color: #cc99cc;
	width: 100px;
	text-align: center;
	text-decoration:none;
	font-weight: bold;
	font-size: 11px
}
	.contacto {
	font-family: "Droid sans";
	color: #818181;
	margin-right: 10px;
	font-size: 11px;
}
.social{}
.icon{margin-right: 3px}
.iconmail{
}
#idiomas, #idiomas a, #copy{text-align: center;font-family: "Droid sans";
	color: white;
	margin-right: 10px;
	font-size: 11px; text-decoration:none}
	#copy{margin-top: 180px}
